* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
       
}

body {
    background-color: #d9dcd6;
}

/**************HEADER AND NAV BAR***************/
/*Horiseon header and nav bar*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Horiseon, top left name title*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Horiseon, top left name title, only SEO*/
.header h1 .seo {
   color: #d9dcd6;
}

 /*3 navigation (nav) options, top right + space above*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    }

/*3 nav options: top three separate/indivdiual*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
 }

/*3 nav options: separate -removes underline, applies color*/
a {
    color: #ffffff;
    text-decoration: none;
}

/***************MAIN PICTURE***************/
/*Picture - top under nav bar - large*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/***********MAIN + ASIDE CONTENT***********/
/*text main and aside boxes, applies to each paragraph */
p {
    font-size: 16px;
}

/************MAIN CONTENT******************/
/*MAIN - small picture - 2 left float pics for SEO & SMM*/
.float-left { 
    float: left;
    margin-right: 25px;
}

/*MAIN - small picture - 1 right float pics for ORM*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*MAIN Contents box - boarder all 3 boxes, together, SEO & ORM & SMM*/
.content { 
    width: 75%;
    display: inline-block;
    margin-left: 20px; 
}

/*MAIN Contents box - three separate/each boarder*/
#search-engine-optimization, #online-reputation-management, #social-media-marketing { 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*MAIN Contents box - each image, separately*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img { 
    max-height: 200px;
}
 
 /*MAIN Contents box - each title, separately*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 { 
    margin-bottom: 20px;
    font-size: 36px; 
}

/****************ASIDE CONTENT***********************/
/*ASIDE Benefits box - boarder - all three sections*/
.benefits { 
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*ASIDE Benefits box - each section grouped with title, icon, text*/
.benefit-lead, .benefit-brand, .benefit-cost { 
    margin-bottom: 32px;
    color: #ffffff;
}

/*ASIDE Benefits box - TITLES*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 { 
    margin-bottom: 10px;
    text-align: center;
}

/*ASIDE Benefits box - ICONS*/
.benefit-lead img, .benefit-brand img, .benefit-cost img { 
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*****************FOOTER****************************/
 
/*Footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

 /*Footer - "made with 'heart' by Horiseon only"*/
.footer h2 {
    font-size: 20px;
}
